body {
    background: rgb(244, 162, 97);
    color: rgb(26, 46, 53);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 80%;
    margin: 0 auto;
}

/* navigation menu */
nav {
    background: rgba(42, 157, 143, 0.500);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 20px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(26, 46, 53);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: rgb(26, 46, 53);
}

/* main container area beneath menu */
main {
    background: rgb(233, 196, 106);
    display: flex;
    flex-wrap: wrap;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 100%;
    max-width: 100%;
}
.content {
    flex: 1;
    padding: 15px;
    box-sizing: border-box;
}

/* portfolio styles */
#interests {
    border: 4px solid #e76f51;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
/* portfolio styles */
.content h1 {
    color: black;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #2a9d8f;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    flex-basis: calc(33.33% - 10px);
}

#portfolio li:hover {
    background: #e76f51;
}

#portfolio a {
    text-decoration: none;
    color: #454545;
}
/* Default styles for all devices */
img {
    max-width: 100%;
 }
 
 /* Media queries for different device sizes */
 @media only screen and (max-width: 600px) {
    img {
       max-width: 100%;
    }
 }
 
 @media only screen and (min-width: 601px) and (max-width: 1024px) {
    img {
       max-width: 80%;
    }
 }
 
 @media only screen and (min-width: 1025px) {
    img {
       max-width: 50%;
    }
 }
